@import "common.css";

body { /* THE BODY */
	margin: 0; padding: 0; background: #FFFFFF url("../img/stripy_bg_grey.png");
	font-family: 'DejaVu Sans','Bitstream Vera Sans', 'Verdana','Helvetica',Sans;
	color: #202020;
	text-align: center;
}

#container {
	width: 95%; /*position: absolute; top: 10px; left: 5%;*/ /* GRRR Mouse caught me out here and I'm fucked if I know why! */
	margin: 10px auto; padding: 0;
	background: #F8F8F8; border: 1px solid #c0c0c0;
}

#body {
	margin: 0; padding: 0.5em;
	background: #F8F8F8;
}

#tools {
	margin: 0; padding: 0 0.5em 0 0.5em;
	background: #000;
}
	#tools p {
		text-align: right; font-size: 90%; color: #d0d0d0; line-height: 2em;
		margin: 0; padding: 0;
	}
	#tools a, #tools a:link, #tools a:visited {
		color: #d0d0d0; text-decoration: none;
	}
		#tools a:hover {
			color: #FF7800;
		}
	#printContainer {
		margin: 0; padding: 0;
	}

#header {
	margin: 0; padding:0px; padding-bottom: 70px;
	background: #000000 url("../img/header_default.png") bottom left no-repeat;
}
	#header h1 {
		font-size: 3.5em; font-family: 'DejaVu Serif','Georgia','Times New Roman',Serif; text-align: right;
		color: #FF6000;
		margin: 0 10px 10px 0; padding: 0; line-height: 1.5em;
	}

#sidebar {
	width: 22%; /*min-width: 150px;*/ margin: 0 0 100px 0; padding: 120px 0 0 0;
	position: relative; float: left; /*top: 0; left: 0;*/
	font-size: 100%;
	background: transparent url("../img/gorf2.png") top center no-repeat;
}
	#sidebar ul {
		list-style: none; margin: 0 0 0.5em 0; padding: 0;
		text-align: right;
		color: #686868;
	}
		#sidebar ul li.topLevel {
			text-align: right; margin: 0.25em 0; padding: 0.5em 0.25em;
			border: 1px #d8d8d8;
			border-style: solid solid solid none;
			font-weight: bold;
		}
		#sidebar li.topLevel ul.levelTwo {
			font-weight: normal;
			font-size: 90%;
		}
		#sidebar li.subHeading {
			text-align: inherit;
			font-weight: normal !important;
			text-decoration: underline;
			margin-top: 0.5em;
			font-size: 110%;
		}
		#sidebar li.subsubHeading {
			text-align: inherit;
			font-weight: normal !important;
			text-decoration: underline;
			margin-top: 0.25em;
		}
		/*#sidebar ul li.topLevel:first-child {
			border-top: 1px solid #d8d8d8;
		}*/
		#sidebar ul li a:after, #sidebar ul li a:after {
			content: " »";
		}
		#sidebar ul li:hover {
			/*background: #f0f0f0; */
			/*color: #c00000;*/
		}
	#sidebar a, #sidebar a:link, #sidebar a:visited {
		text-decoration: none;
		color: #686868;
	}
		#sidebar a:hover, #sidebar a:active/*, #sidebar a:focus*/ {
			color: #c00000;
		}
		#sidebar a:active/*, #sidebar a:focus*/ {
			font-weight: bold;
		}

.toc {
	border-color: #d8d8d8;	
}
	#toc h3 {
		color: #c00000;
		font-weight: bold;
		text-decoration: underline;
		font-size: 0.8em; 
	}
	#toc ul {
		margin: 0.5em 0 0 0;
	}
	#toc li {
		margin: 0.5em 0 0 0;
	}
	#toc li {
		margin: 0;
	}
		/*#toc li:before {
			content: "– "
		}*/
	/*#toc span {};*/

#breadcrumb {
	margin: 0; padding: 0.5em 0;
	/*border-bottom: 1px solid #c0c0c0;*/
	/*background: #FFFFFF;*/
	text-align: right; font-size: 0.8em; color: #686868;
}
	#breadcrumb * {
		margin: 0.5em;
	}
	#breadcrumb a, #breadcrumb a:link, #breadcrumb a:visited {
		color: #686868;
	}
	#breadcrumb a:hover, #breadcrumb a:active/*, #breadcrumb a:focus*/ {
			color: #FF7800;
		}
		#breadcrumb a:active/*, #breadcrumb a:focus*/ {
			font-weight: bold;
		}
		#breadcrumb span {
			text-align: left;
		}

#content {
	margin: 0 1em 1em; padding: 0;
	position: relative; float: right; /*top: 0; left: 20%;*/
	width: 75%;
}
		/* Links */
	a, a:link, a:visited {
		color: #004e9c;
	}
		a.quickref, a.quickref:link, a.quickref:visited {
			color: #c00000;
		}
	a:hover {
		color: #c00000; text-decoration: underline;
	}
		a.quickref:hover, a.quickref:active/*, a.quickref:focus*/ {
			background: transparent; color: #FF7800;
		}

	a:active/*, a:focus*/ {
		color: #c00000;
		/*font-weight: bold;*/
	}

#footer {
	margin: 2em 2em 0 2em; padding: 1em 0 0 0;
	position: relative;
	clear: both;
	color: #808080;
	border-top: 1px solid #d8d8d8;
}
	#footer p {
		text-align: center; font-size: 90%;
	}

#widgets {
	position: absolute; top: 8em; width: 12%; right: 0; margin: 0; padding: 2px; font-size: 80%;
	text-align: left;
}

/* Text Styles */
h1, h2, h3, h4, h5, h6 {
	text-align: left;
}
h1 {
	color: #004e9c;
}
	h1.title {
		color: #00204c; text-align: center; font-variant: small-caps; text-decoration: underline;
		font-size: 3em; margin: 0; padding: 0;
	}
	h1.title a {
		color: #00204c !important;
	}
	h1.MainTitle {
		font-variant: normal; text-decoration: none; margin: 0; padding: 0;
	}

h2 {
	color: #c00000;
}

h3 {
	color: #101010;
}

dl.dictionary dt.h {
	color: #004e9c;
}


acronym.secret {
	border-bottom: none;
}
	acronym:hover {
		color: #c00000; border-bottom: 1px dashed #c00000;
	}

abbr {
	border-bottom: 1px dashed; padding: 1px;
}
	abbr:hover {
		color: #c00000;
	}

.blank {
		color: #b0b0b0; cursor: pointer;
	}
		.blank:hover, .blank:active, .blank:focus {
			background: transparent; color: #a0a0a0;
		}

	.emf:hover {
		font-size: 120%; font-style: normal; color: #FF7800; margin: 0.5em;
	}

.alphabox {
	margin: 0.5em auto; padding: 0.25em; border: 1px solid #c0c0c0; width: 80%;
	text-align: center;
}

/* Thumbnails */
.thumb, .thumbinner > img, .thumbinner > .signal {
	border-color: #c0c0c0;
}
.thumb {
	background: #e8e8e8;
}
.thumbinner > img, .thumbinner > .signal {
	background: #f8f8f8;
}
.thumbcaption {

}

.noFloatImg {
	border: 1px solid #c0c0c0; background: #e8e8e8;
}

/* Tables */
td, th {
	 border: 1px solid #d8d8d8;
	 line-height: 1.2em;
}

th {
	background: #f0f0f0; font-weight: bold;
}

/* Lists */
dt.heading {
	color: #FF7800;
}

/* Miscellaneous Styles and the like */
.code {
	background: #f0f0f0; border: 1px dashed #c0c0c0; color: #0049ec;
}
