# Do NOT track cached files
cache/*

# Do NOT track images
*.png
*.jpg
*.svg
*.gif
*.xcf

# BUT we want to track signal images for Qevelia so I don't lose them *again*
!/public/img/**/qevelia/**/*.png
