# Do NOT track cached files
cache/*

# Do NOT track images
*.gif
*.jpg
*.png
*.svg
*.xcf

# BUT we want to track signal images for Qevelia so I don't lose them *again*
!**/qevelia/**/*.gif
!**/qevelia/**/*.jpg
!**/qevelia/**/*.png
!**/qevelia/**/*.svg
