#divTopMenu { position: relative; }

.cleaner {
	clear: both;
	border: none;
	margin: 0px;
	padding: 0px;
}

#topmenuLogo { position: absolute; width: 78px; height: 43px; left: 10px; }
#topmenuLogo span { display: none; }

/* TOPMENU DROPDOWNS */

#topmenu .topnav1 { width: 67px; height: 18px; position: absolute; left: 2px; }
#topmenu .topnav2 { width: 100px; height: 18px; position: absolute; left: 74px; }
#topmenu .topnav3 { width: 86px; height: 18px; position: absolute; left: 179px; }
#topmenu .topnav4 { width: 71px; height: 18px; position: absolute; left: 270px; }

#topmenuDropdown {
	float: left;
	width: 375px;
	position: relative;
	z-index: 255;
}

#topmenuDropdown a:hover { background-color: #fff; color: #666365; }
#topmenuDropdown a:visited { color: #1A6671; text-decoration:none; }
#topmenuDropdown a.tmDropdownLink { cursor: hand; }

ul.topMenuLinkList {
	float: left;
	margin: 10px 0px 0px 1px;
	padding: 0px 0px 0px 0px;
}

ul.topMenuLinkList li {
	list-style: none;
	margin: 0px;
    padding-left: 0px;
	padding-right: 0px;
    padding-bottom:0px;
    padding-top:0px;
    display: inline;
}

#lowcontent1 {
	background: #e4e3e0 url(/topmenu/img/topmenu/lowcontentTopShade.gif) repeat-x;
    border-bottom:1px solid #86afc2;
    overflow: hidden;
	padding-left: 5px;
    border-top: 0px;
    margin-top: -1px;
    padding-bottom: 4px;
    }

#lowcontent2 {
	background: #e4e3e0 url(/topmenu/img/topmenu/lowcontentTopShade.gif) repeat-x;
    border-bottom:1px solid #cc0000;
    overflow: hidden;
	padding-left: 5px;
    border-top: 0px;
    margin-top: -1px;
    padding-bottom: 4px;
}

#lowcontent3 {
	background: #e4e3e0 url(/topmenu/img/topmenu/lowcontentTopShade.gif) repeat-x;
    border-bottom:1px solid #d5581f;
    overflow: hidden;
	padding-left: 5px;
    border-top: 0px;
    margin-top: -1px;
    padding-bottom: 4px;
    }

#lowcontent4 {
	background: #e4e3e0 url(/topmenu/img/topmenu/lowcontentTopShade.gif) repeat-x;
    border-bottom:1px solid #78ad07;
    overflow: hidden;
	padding-left: 5px;
    border-top: 0px;
    margin-top: -1px;
    padding-bottom: 4px;
    }


.linkMenuSubHeader1 {
	color: #777;
	font-size: 1.0em;
	font-weight: bold;
	margin-left: -13px;
	padding: 1px 0px 1px 13px;
	text-transform: uppercase;
}

.linkMenuSubHeader2 {
	color: #777;
	font-size: 0.9em;
	font-weight: bold;
	background-color: #cc0000;
	margin-left: 5px;
	padding: 1px 0px 1px 13px;
}

.linkMenuSubHeader3 {
	color: #777;
	font-size: 0.9em;
	font-weight: bold;
	background-color: #d5581f;
	margin-left: 5px;
	padding: 1px 123px 1px 13px;
}

.linkMenuSubHeader4 {
	color: #777;
	font-size: 0.9em;
	font-weight: bold;
	background-color: #7bad07;
	margin-left: 5px;
	padding: 1px 0px 1px 13px;
}


.linkcss1 {
position:absolute;
visibility: hidden;
border: 0px;
font-family: Arial, Helvetica, sans-serif;
line-height: 15px;
margin-top: -3px;
z-index: 255;
background-color: #e5e5df;
overflow: hidden;
top: 23px;
left: 0 !important;
left: -6px; /* ie-fix */
}

.linkcss1 a{
width: 130px;
display: block;
border:0px;
background: Transparent url(/topmenu/img/topmenu/lowmenuArrow.gif) no-repeat 3px 4px;
padding: 0px 0px 0px 11px;
text-decoration: none;
font-size: 0.9em;
color: #1A6671;
}



.linkcss2{
position:absolute;
visibility: hidden;
border: 0px;
font-family: Arial, Helvetica, sans-serif;
line-height: 15px;
margin-top: -3px;
z-index: 255;
background-color: #e5e5df;
overflow: hidden;
left: 74px;
top: 23px;
}

.linkcss2 a{
width: 130px;
display: block;
border:0px;
background: Transparent url(/topmenu/img/topmenu/lowmenuArrow.gif) no-repeat 3px 4px;
padding: 0px 0px 0px 11px;
text-decoration: none;
font-size: 0.9em;
color: #1A6671;
}

.linkcss3{
position:absolute;
visibility: hidden;
border: 0px;
font-family: Arial, Helvetica, sans-serif;
line-height: 15px;
margin-top: -3px;
z-index: 255;
background-color: #e5e5df;
overflow: hidden;
left: 182px;
top: 23px;
}

.linkcss3 a{
width: 130px;
display: block;
border:0px;
background: Transparent url(/topmenu/img/topmenu/lowmenuArrow.gif) no-repeat 3px 4px;
padding: 0px 0px 0px 11px;
text-decoration: none;
font-size: 0.9em;
color: #1A6671;
}

.linkcss4{
position:absolute;
visibility: hidden;
border: 0px;
font-family: Arial, Helvetica, sans-serif;
line-height: 15px;
margin-top: -3px;
z-index: 255;
background-color: #e5e5df;
overflow: hidden;
left: 275px;
top: 23px;
}

.linkcss4 a{
width: 130px;
display: block;
border:0px;
background: Transparent url(/topmenu/img/topmenu/lowmenuArrow.gif) no-repeat 3px 4px;
padding: 0px 0px 0px 11px;
text-decoration: none;
font-size: 0.9em;
color: #1A6671;
}

    
/* TOPMENU BORDER */
.xtop, .xbottom {display:block; background:transparent; font-size:1px; }
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {background:#2b709e; border-left:1px solid #cccccc; border-right:1px solid #cccccc;}
.xb1 {margin:0 5px; background:#cccccc; }
.xb2 {margin:0 3px; border-width: 0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}

.topmenucontent {
	display:block;
	background:#2b709e;
	border:0 solid #cccccc;
	border-width:0 1px;
	background-image: url(/topmenu/img/topmenu/newBackG4.png);
	height: 43px;
}

#topmenu {
	color: #ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration: none;
	font-weight: normal;
	/* width: expression(document.body.clientWidth < 1000? "1000px" : "auto");  */
	min-width: 1000px;
	max-width: 1500px;
	height: 52px;
	margin: 4px 0;
}

#topmenuLogo {
	float:left;
	margin: 0px 14px 0px 3px;
	padding-left: 12px;
	padding-right: 3px;
	height: 43px;
}

#topmenuTopRight {
	float:right;
	height: 19px;
	padding: 0px;
	font-size: 11px;
}
#topmenuTopRight a {
	margin: 8px;
	text-decoration: none;
	color: #FFFFFF;
}

#topmenuTopLeft {
	height: 19px;
	margin-left: 246px;
	font-size: 0.9em;
}

#topmenuBelowLeft {
	position: absolute;
	left: 111px;
	padding-top: 2px;
	padding-left: 3px;
	height: 15px;
}

#topmenuBelowRight {
	padding: 4px 4px 0 4px;
	margin-right: 3px;
	color: #CCCCCC;
	height: 16px;
	float: right;	
	width: 260px;
	text-align: right;	
	position: relative;
}
#topmenuBelowRight a {
	color: #EFEFEF;
	margin: 4px;
	text-decoration: none;
}

/* SEARCH */
#topmenuSearch {
        position: absolute;
	top: 2px;
        left: 378px;
	display: inline;
}

#topMenuSearchForm {
	display: inline;
	float: left;
	position: relative;
	margin: 0;
}

#topmenuBelowLeft .searchField {
	border-style: hidden;
	border-width: 0px;
	padding-left:3px;
	padding-right:3px;
	margin-top: 3px;
	margin-left: 6px;
	font-family: Arial, Helvetica,sans-serif;
	font-size: 9px;
	width: 132px;
	height: 12px;
	position: absolute;
	top: 0px;
	left: 0px;
	
}

#topmenuBelowLeft .searchSubmit {
	padding-left: 3px;
	border: 0;
	top: 1px;
	position: absolute; 
	left: 150px;
}

input.blur {
	color: #999;
}


/* LOGINFORM */
#topmenuMemberLogin { position: absolute; right: 0px; background: url(/topmenu/img/topmenu/btn_loginmember2.gif) no-repeat; width: 131px; height: 16px; }
#topmenuMemberLogin span { display: none; }
#btnMember { width: 65px; height: 16px; position: absolute; left: 0px; padding: 0; margin: 0; }
#btnLogin { width: 54px; height: 16px; position: absolute; left: 75px; padding: 0; margin: 0; }

#loginForm {
	margin: 0;	
}

#topmenuLoginContainer {
	overflow: hidden; 
	white-space: nowrap;
	font-size: 8pt;	
	padding-top: 1px;
}

.topmenuLoginName {
	color: #729DD3;
	margin-right: 2px;
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: nowrap;
	width: 200px;
}


#topmenuBottomContainer {
	height: 22px;
}


/** Mini version **/
#topmenuMini { padding-bottom: 5px; }
#topmenuMini .topmenucontent { border: 0; height: 13px; background: #2b709e url(/topmenu/img/topmenu/mini/miniBg.png) no-repeat scroll 70px -19px; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -khtml-border-radius: 0px; -o-border-radius: 0px;}
#topmenuMini #topmenuLogo { background: transparent url(/topmenu/img/topmenu/mini/miniBg.png) no-repeat scroll 0 2px; position: absolute; width: 33px; height: 23px; top: 0; left: 8px; }
#topmenuMini #topmenuLogo span { display: none; }
#topmenuMini .linkcss1 {top: 20px;}
#topmenuMini #topmenuDropdown { float: left; height: 13px; width: 100px; margin-left: 64px !important; margin-left: 36px;/* ie-fix */}
#topmenuMini #topmenuDropdown .topnav1 { width: 100px; height: 16px; position: absolute; left: 0px; margin: 0; padding: 0; }
#topmenuMini #topmenuTopRight { float: left; height: 13px; margin: 0; }
#topmenuMini #topmenuTopRight a{ font-size: 11px; margin: 0 8px; }
#topmenuMini #topmenuBelowRight { height: 13px; padding: 0px 4px 0;}
#topmenuMini #topmenuMemberLogin { right: 10px; background: url(/topmenu/img/topmenu/mini/btn_MemberLogin.gif) no-repeat; width: 131px; height: 13px; }
#topmenuMini #btnMember { width: 62px; height: 13px; position: absolute; left: 0px; padding: 0; margin: 0; }
#topmenuMini #btnLogin { width: 60px; height: 13px; position: absolute; left: 65px; padding: 0; margin: 0; }


/* Override line */
#topmenuMini .xtop b, #topmenuMini .xbottom b { background: #2b709e none repeat scroll 0 0; border:0 none;}