/*
 * reset.css
 * ---------
 * Reset all the browser-defined defaults
 *
 */

/* Get rid of any predefined margins and paddings */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, cite, code, em, img, small, strong, sub, sup, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	vertical-align: baseline;
}

/* Focus styles! */
:focus {
	outline: 0;
}

/* Everything else */
div {
	position: relative;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: center;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { 
	content: ""; 
	content: none;
}

blockquote, q { 
	quotes: none; 
}

/* Superscripts and Subscripts */
sub, sup {
	line-height: 0;
}

sub {
	font-size: 58%;
	vertical-align: sub;
}

sup {
	font-size: 58%;
	vertical-align: super;
}

